In [1]:
import pandas as pd

from common import (
    delta_g_path,
    id_seq_path
)

In [2]:
df_delta_g = pd.read_csv(delta_g_path)
df_id_seq = pd.read_csv(id_seq_path)

In [3]:
df_delta_g

,delta_g_wt,delta_g_mut,delta_delta_g,wt_name_0,wt_name_1,mut_name_0,mut_name_1
0,-16.075989,-13.827155,2.248833,1CSE_E,1CSE_I,1CSE_E,1CSE_I_LI38G
1,-16.075989,-14.903760,1.172229,1CSE_E,1CSE_I,1CSE_E,1CSE_I_LI38S
2,-16.075989,-9.404712,6.671276,1CSE_E,1CSE_I,1CSE_E,1CSE_I_LI38P
3,-16.075989,-13.135001,2.940988,1CSE_E,1CSE_I,1CSE_E,1CSE_I_LI38I
4,-16.075989,-11.725555,4.350434,1CSE_E,1CSE_I,1CSE_E,1CSE_I_LI38D
...,...,...,...,...,...,...,...
4947,-7.171435,-4.034016,3.137419,3QIB_ABP,3QIB_CD,3QIB_ABP_KP8A,3QIB_CD
4948,-7.171435,-4.935527,2.235909,3QIB_ABP,3QIB_CD,3QIB_ABP_KP8R,3QIB_CD
4949,-7.171435,-4.034016,3.137419,3QIB_ABP,3QIB_CD,3QIB_ABP_TP11A,3QIB_CD
4950,-7.171435,-6.096254,1.075181,3QIB_ABP,3QIB_CD,3QIB_ABP_TP11S,3QIB_CD
4951,-7.171435,-5.948216,1.223219,3QIB_ABP,3QIB_CD,3QIB_ABP_TP11N,3QIB_CD

In [9]:
df_id_seq

                  id                                               seqs
0             1CSE_E  AQTVPYGIPLIKADKVQAQGFKGANVKVAVLDTGIQASHPDLNVVG...
1             1CSE_I  KSFPEVVGKTVDQAREYFTLHYPQYNVYFLPEGSPVTLDLRYNRVR...
2       1CSE_I_LI38G  KSFPEVVGKTVDQAREYFTLHYPQYNVYFLPEGSPVTGDLRYNRVR...
3       1CSE_I_LI38S  KSFPEVVGKTVDQAREYFTLHYPQYNVYFLPEGSPVTSDLRYNRVR...
4       1CSE_I_LI38P  KSFPEVVGKTVDQAREYFTLHYPQYNVYFLPEGSPVTPDLRYNRVR...
...              ...                                                ...
4819   3QIB_ABP_KP8A  IKEEHTIIQAEFYLLPDKRGEFMFDFDGDEIFHVDIEKSETIWRLE...
4820   3QIB_ABP_KP8R  IKEEHTIIQAEFYLLPDKRGEFMFDFDGDEIFHVDIEKSETIWRLE...
4821  3QIB_ABP_TP11A  IKEEHTIIQAEFYLLPDKRGEFMFDFDGDEIFHVDIEKSETIWRLE...
4822  3QIB_ABP_TP11S  IKEEHTIIQAEFYLLPDKRGEFMFDFDGDEIFHVDIEKSETIWRLE...
4823  3QIB_ABP_TP11N  IKEEHTIIQAEFYLLPDKRGEFMFDFDGDEIFHVDIEKSETIWRLE...

[4824 rows x 2 columns]